*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link-underline {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
    padding: 0;
  }
}
.footer-section__btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6b09;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer-section__btn:focus {
  background-color: rgba(255, 107, 9, 0.8);
}

@media screen and (max-width: 319px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-height: 48px;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1299px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-width: 260px;
    height: 48px;
  }
}
@media screen and (min-width: 1300px) {
  .footer-section__btn {
    font-size: 14px;
    line-height: 1.21;
    min-width: 354px;
    height: 70px;
  }
}
body {
  position: relative;
}

.btn_sign {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  border: 2px solid #ff6b09;
  background-color: inherit;
  cursor: pointer;
}

.btn_sign:focus {
  background-color: rgba(255, 107, 9, 0.8);
}

@media screen and (max-width: 767px) {
  .btn_sign {
    background-color: transparent;
  }
}
@media screen and (max-width: 1199px) {
  .btn_sign {
    font-size: 12px;
    line-height: 1.25;
    min-width: 260px;
    height: 48px;
  }
}
@media screen and (min-width: 1199px) {
  .btn_sign {
    font-size: 14px;
    line-height: 1.21;
    min-width: 336px;
    height: 70px;
  }
}
@media screen and (max-width: 1299px) {
  .page-header__logo-main.is-open {
    opacity: 0;
  }
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .page-header__list {
    margin-bottom: 50px;
  }
  .page-header__link:hover, .page-header__link:focus {
    color: #ff6b09;
  }
  .page-header__item {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .page-header__menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__menu-btn.is-open {
    position: absolute;
    z-index: 999;
    top: 30px;
    right: 20px;
    fill: white;
  }
  .page-header__menu-btn:hover, .page-header__menu-btn:focus {
    fill: #ff6b09;
  }
  .page-header__menu-btn .icon-close {
    display: none;
  }
  .page-header__menu-btn.is-open .icon-close {
    display: block;
  }
  .page-header__menu-btn.is-open .icon-menu {
    display: none;
  }
  .page-header__menu {
    z-index: 100;
    display: none;
    background: rgba(17, 21, 24, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    font-size: 20px;
  }
  .page-header__menu.is-open {
    display: block;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .btn_sign.tablet {
    display: none;
  }

  .page-header__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .page-header__logo-menu {
    display: block;
    margin-bottom: 50px;
  }
  .page-header__logo-main-icon {
    width: 85px;
    height: 30px;
  }
  .page-header__logo-menu-icon {
    width: 85px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .page-header .btn_sign.tablet {
    display: block;
  }
  .page-header .btn_sign {
    display: none;
  }
  .page-header__logo-main {
    margin-right: 240px;
  }
  .page-header__logo-menu {
    display: block;
  }
  .page-header__logo-main-icon {
    width: 128px;
    height: 44px;
  }
  .page-header__logo-menu-icon {
    width: 128px;
    height: 44px;
  }
  .page-header__link {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.808;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .page-header__list {
    margin-left: 218px;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1300px) {
  .page-header .btn_sign.tablet {
    display: none;
  }
  .page-header__logo-main {
    margin-right: 144px;
  }
  .page-header__logo-menu {
    display: none;
  }
  .page-header .btn_sign {
    display: block;
  }
  .page-header__menu-btn {
    display: none;
  }
  .page-header__nav {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header__list {
    display: flex;
    align-items: center;
    margin-right: 60px;
  }
  .page-header__menu {
    display: flex;
  }
  .page-header__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    color: #b9b9b9;
  }
  .page-header__item:not(:last-child) {
    margin-right: 40px;
  }
}
div.modal-window_entry {
  display: none;
}

div.modal-window_entry.show-entry {
  display: block;
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: url("/hero-mobile-background.874b82c6.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -30px;
  }
  .hero-section {
    padding: 0 20px;
    margin: 0 auto;
    width: 320px;
    margin-top: 25px;
    padding-bottom: 47px;
  }
  .hero .hero-section__title-and-picture {
    display: block;
  }
  .hero-section__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: #111518;
    padding-bottom: 30px;
  }
  .hero-section__not-simple {
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: #b9b9b9;
  }
  .hero-section__not-simple-garante {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: #111518;
  }
  .hero-section__not-simple-yougot {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }
  .hero-section__pictures {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-image: url("/hero-mobile-ellipse-background.49cb0fe3.png");
    background-repeat: no-repeat;
    background-position-y: 39px;
    background-position-x: 31px;
  }
  .hero-section__button {
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }
  .hero-section__svg {
    width: 60px;
    height: 60px;
  }
  .hero-section__container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  .hero-section__container-rewiev {
    padding-bottom: 45px;
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-section__container-rewiev-list {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    width: 220px;
    height: 60px;
  }
  .hero-section__container-rewiev-list:nth-child(n+2) {
    margin-bottom: 30px;
  }
  .hero-section__container-rewiev-list-text {
    width: 146px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #111518;
    margin-left: 10px;
  }
}
@media screen and (min-width: 480px) {
  .hero-section__title {
    display: block;
    width: 650px;
  }

  .hero-section__title {
    display: block;
    width: 280px;
    flex-direction: column;
    margin: auto;
  }

  .hero-section__not-simple {
    display: block;
    width: 280px;
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .hero {
    background-image: url("/hero-tablet-background.a272c517.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -185px;
  }
  .hero-section {
    padding: 0 30px;
    margin: 0 auto;
    width: 768px;
  }
  .hero .hero-section__title-and-picture {
    display: flex;
    height: 315px;
    width: 768px;
  }
  .hero-section__title {
    margin: 0;
    display: block;
    width: 332px;
    height: 132px;
    font-weight: 800;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #111518;
    padding: 0;
  }
  .hero-section__not-simple {
    margin: 0;
    margin-top: 35px;
  }
  .hero-section__button {
    display: block;
  }
  .hero-section__pictures {
    display: flex;
    width: 380px;
    height: 320px;
    padding: 0;
    background-image: url("/hero-tablet-ellipse-back.82a17790.png");
    background-repeat: no-repeat;
    background-position-y: 17px;
    background-position-x: 2px;
  }
  .hero-section__container {
    margin-top: 142px;
    background: none;
    padding: 0;
  }
  .hero-section__container-rewiev {
    flex-direction: row-reverse;
    width: 715px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-section__container-rewiev-list:nth-child(n+2) {
    margin: 0px;
  }
  .hero-section__container-rewiev-list:nth-child(even) {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .hero {
    background-image: url("/background.eaba9334.png");
    background-repeat: no-repeat;
    background-position-x: -63px;
    background-position-y: -140px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .hero-section {
    padding: 0;
    width: 1300px;
    height: 720px;
  }
  .hero .hero-section__title-and-picture {
    display: flex;
    height: 720px;
  }
  .hero-section__title {
    display: block;
    width: 610px;
    padding-top: 97px;
    margin: 0;
    font-weight: 800;
    font-size: 58px;
    line-height: 75px;
    letter-spacing: 0.03em;
    color: #111518;
  }
  .hero-section__not-simple {
    padding-top: 25px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.08em;
  }
  .hero-section__not-simple-garante {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.08em;
  }
  .hero-section__not-simple-yougot {
    padding-left: 5px;
    font-weight: 700;
    font-size: 20px;
  }
  .hero-section__not-simple-garante-yougot {
    width: 560px;
    height: 145px;
    display: flex;
    flex-wrap: wrap;
  }
  .hero-section__button {
    display: block;
    margin: 0;
    padding-top: 40px;
  }
  .hero-section__pictures {
    display: flex;
    justify-content: space-evenly;
    width: 615px;
    height: 507px;
    padding: 0;
    padding-left: 45px;
    margin-top: 30px;
    background-image: url("/hero-desktopellipseback.82630b7e.png");
    background-repeat: no-repeat;
    background-position-y: 32px;
    background-position-x: 0px;
    background-size: contain;
  }
  .hero .hero-section__pictures-modified {
    width: 541px;
    height: 541px;
    display: flex;
  }
  .hero-section__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    max-width: 99%;
    padding-top: 0;
  }
  .hero-section__container-rewiev {
    flex-direction: row-reverse;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
    left: -19px;
    margin-top: 146px;
    padding-bottom: 130px;
    width: 1300px;
  }
  .hero-section__container-rewiev-list {
    margin: 0;
    width: 450px;
    height: 60px;
  }
  .hero-section__container-rewiev-list-text {
    display: flex;
    width: 360px;
    font-weight: 700;
    font-size: 20px;
  }
  .hero-section__container-rewiev-list:nth-child(n+2) {
    margin: 0px;
  }
  .hero-section__svg {
    position: relative;
    width: 100px;
    height: 102px;
    left: 18px;
  }
}
.problems-section {
  background-color: #111518;
}
.problems-section .container {
  padding-top: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.problems-section__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.problems-section__title--color {
  color: #ff6b09;
}
.problems-section__list {
  position: absolute;
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.problems-section__item {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714;
  align-items: center;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #111518;
}
.problems-section__item:last-child {
  margin-bottom: 0;
}
.problems-section__number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 5px;
}
.problems-section__image {
  display: none;
}

@media screen and (max-width: 767px) {
  .problems-section {
    height: 545px;
  }
  .problems-section .container {
    width: 320px;
  }
  .problems-section__list {
    max-width: 280px;
    margin-top: 25px;
    padding: 20px 14px 20px 30px;
  }
  .problems-section__title {
    display: block;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .problems-section {
    height: 340px;
  }
  .problems-section .container {
    padding-top: 60px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 768px;
  }
  .problems-section__title {
    display: block;
    font-size: 26px;
  }
  .problems-section__list {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 688px;
    margin-top: 25px;
    padding: 30px 46px 30px 96px;
  }
  .problems-section__item {
    width: 236px;
    height: 69px;
    align-content: space-between;
  }
  .problems-section__item:nth-child(odd) {
    margin-right: 22px;
  }
  .problems-section__item:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1300px) {
  .problems-section {
    height: 560px;
    position: relative;
  }
  .problems-section .container {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
  }
  .problems-section__title {
    display: block;
    font-size: 46px;
    line-height: 1.3;
    width: 866px;
    margin-right: auto;
    margin-left: auto;
  }
  .problems-section__list {
    width: 1300px;
    margin-top: 70px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 70px 112px 60px 112px;
  }
  .problems-section__item {
    width: calc((100% - 2 * 40px) / 3);
    font-size: 20px;
    line-height: 1.2;
    align-content: space-between;
    margin-right: 25px;
  }
  .problems-section__item:nth-child(3n) {
    margin-right: 0px;
  }
  .problems-section__item:nth-child(n+4) {
    margin-top: 32;
    margin-bottom: 0;
  }
  .problems-section__number {
    font-size: 20px;
    line-height: 1.65;
  }
  .problems-section__image {
    display: block;
    position: absolute;
    width: 455px;
    height: 472px;
    right: 0%;
    bottom: 0%;
    transform: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 3s;
  }
  .problems-section__image:hover, .problems-section__image:focus {
    fill: #ff6b09;
    transition: color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.answers-section .container {
  margin-left: auto;
  margin-right: auto;
}
.answers-section__title {
  font-style: normal;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}
.answers-section__item {
  display: block;
  margin-top: 30px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.answers-section__item:hover, .answers-section__item:focus, .answers-section__item:hover .answers-section__icon, .answers-section__item:hover .answers-section__subtitle, .answers-section__item:hover .answers-section__description {
  background-color: #ff6b09;
  color: #ffffff;
  fill: #ffffff;
}
.answers-section__subtitle {
  display: block;
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
.answers-section__description {
  display: block;
  position: relative;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.answers-section__description::before {
  content: "";
  position: absolute;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 20px;
  height: 2px;
  left: 47%;
  text-align: center;
  border-radius: 2px;
  background-color: #ff6b09;
}
.answers-section__icon {
  width: 57px;
  height: 48px;
  fill: #ff6b09;
  cursor: pointer;
  margin-bottom: 20px;
}

.answers-section__item:hover .answers-section__description::before {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .answers-section .container {
    width: 320px;
    padding-top: 200px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .answers-section__item {
    display: block;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    width: 280px;
    height: 280px;
  }
  .answers-section__title {
    font-size: 20px;
  }
  .answers-section__description::before {
    margin-top: -17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .answers-section .container {
    width: 768px;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .answers-section__title {
    font-size: 26px;
    line-height: 1.308;
  }
  .answers-section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .answers-section__item {
    width: 334px;
    height: 334px;
    padding-top: 40px;
    padding-bottom: 28px;
  }
  .answers-section__item:nth-child(odd) {
    margin-right: 20px;
  }
  .answers-section__item:not(:last-child) {
    margin-top: 27px;
  }
  .answers-section__subtitle {
    display: block;
    margin-bottom: 52px;
  }
  .answers-section__description::before {
    margin-top: -25px;
  }
}
@media screen and (min-width: 1300px) {
  .answers-section .container {
    width: 1300px;
    padding-top: 280px;
    padding-bottom: 130px;
  }
  .answers-section__title {
    font-size: 46px;
  }
  .answers-section__item {
    width: 420px;
    height: 396px;
    padding: 40px 30px 55px 30px;
  }
  .answers-section__item:nth-child(3n+1) {
    margin-right: 20px;
  }
  .answers-section__item:nth-child(3n) {
    margin-left: 20px;
  }
  .answers-section__item:nth-last-child(n+4) {
    margin-top: 20px;
  }
  .answers-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .answers-section__subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .answers-section__description {
    font-size: 18px;
    line-height: 1.556;
  }
  .answers-section__description::before {
    margin-top: -20px;
  }
}
.programm-section {
  background-color: #111518;
  background-image: url("/programm-mobile-half.e37d3669.png");
  background-repeat: no-repeat;
  background-position: 100% 77%;
  background-size: 40%;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .programm-section {
    background-image: url("/programm-mobile-half@2x.86936ad6.png");
  }
}
@media screen and (min-width: 480px) {
  .programm-section {
    background-image: url("/programm-mobile.db09796a.png");
    background-size: 40%;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .programm-section {
    background-image: url("/programm-mobile@2x.fdf025b5.png");
  }
}
@media screen and (min-width: 768px) {
  .programm-section {
    background-image: url("/programm-tablet.f550ec33.png");
    background-size: 42%;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .programm-section {
    background-image: url("/programm-tablet@2x.b6bc46bf.png");
  }
}
@media screen and (min-width: 1300px) {
  .programm-section {
    background-image: url("/programm-desktop.83e46d01.png"), url("/programm-vector-rotate90.fbfab9b4.svg");
    background-position: 0 90%, 0 21%;
    background-size: 39%, 100% 2px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px), screen and (min-resolution: 192dpi) and (min-width: 1300px), screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  .programm-section {
    background-image: url("/programm-desktop@2x.f93535b9.png"), url("/programm-vector-rotate90.fbfab9b4.svg");
  }
}
.programm-section .container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 537px;
}
@media screen and (min-width: 768px) {
  .programm-section .container {
    padding-top: 60px;
    padding-bottom: 392px;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section .container {
    padding-top: 120px;
    padding-bottom: 363px;
  }
}
.programm-section__title {
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .programm-section__title {
    margin-bottom: 52px;
    font-size: 26px;
    text-align: start;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__title {
    margin-bottom: 92px;
    font-size: 46px;
    text-align: center;
  }
}
.programm-section__list {
  padding-left: 23%;
  display: inline-block;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .programm-section__list {
    padding-left: 33%;
  }
}
@media screen and (min-width: 768px) {
  .programm-section__list {
    padding-left: 8%;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__list {
    display: flex;
    padding-left: 0;
  }
}
@media screen and (max-width: 1299px) {
  .programm-section__line {
    position: absolute;
    top: 6.5%;
    left: 28%;
    background-image: url(/programm-vector.9b9c3d16.svg);
    width: 2px;
    height: 1223px;
  }
}
@media screen and (min-width: 480px) {
  .programm-section__line {
    left: 35.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .programm-section__line {
    top: 12%;
    left: 13%;
    height: 680px;
  }
}
@media screen and (max-width: 767px) {
  .programm-section__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .programm-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__item {
    width: 230px;
  }
  .programm-section__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .programm-section__item--position {
    display: flex;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__item--position {
    background-color: #111518;
  }
}
.programm-section__semester {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1300px) {
  .programm-section__semester {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 0.93;
  }
}
.programm-section__semester::before {
  content: "";
  display: block;
  z-index: 2;
  margin-right: 20px;
  background-image: url("/programm-orange-dot.e90affd1.svg");
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .programm-section__semester::before {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__semester::before {
    margin-bottom: 60px;
  }
}
.programm-section__semester--number-size {
  font-size: 14px;
}
@media screen and (max-width: 1299px) {
  .programm-section__semester--number-size {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__semester--number-size {
    font-size: 30px;
  }
}
.programm-section__features {
  margin-bottom: 10px;
}
@media screen and (min-width: 1300px) {
  .programm-section__features {
    margin-bottom: 25px;
  }
}
.programm-section__features-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1300px) {
  .programm-section__features-title {
    font-size: 20px;
    line-height: 1.65;
  }
}
@media screen and (max-width: 767px) {
  .programm-section__features-list {
    margin-left: 32px;
  }
  .programm-section__features-list:not(:last-child) {
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .programm-section__features-list:first-child {
    margin-left: 64px;
    width: 176px;
  }
  .programm-section__features-list:not(:first-child) {
    margin-left: 50px;
  }
  .programm-section__features-list:nth-child(even) {
    width: 155px;
  }
}
@media screen and (min-width: 1300px) {
  .programm-section__features-list:not(:last-child) {
    margin-bottom: 25px;
  }
}
.programm-section__features-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  opacity: 0.5;
  color: #b9b9b9;
}
@media screen and (min-width: 1300px) {
  .programm-section__features-description {
    font-size: 18px;
    line-height: 1.56;
  }
}

.advantages-section {
  position: absolute;
  width: 280px;
  z-index: 1;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .advantages-section {
    width: 688px;
    top: 85.2%;
  }
}
@media screen and (min-width: 1300px) {
  .advantages-section {
    width: 1300px;
    top: 80%;
  }
}
.advantages-section__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .advantages-section__title {
    width: 136px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__title {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
  }
}
@media screen and (min-width: 1300px) {
  .advantages-section__title {
    opacity: 0;
  }
}
.advantages-section__container-list {
  padding: 20px 34px 20px 30px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .advantages-section__container-list {
    padding: 30px 118px 25px 98px;
  }
}
@media screen and (min-width: 1300px) {
  .advantages-section__container-list {
    padding: 70px 85px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .advantages-section__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .advantages-section__item {
    width: calc(50% - 20px);
  }
  .advantages-section__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .advantages-section__item {
    width: calc(33% - 40px * 2);
  }
  .advantages-section__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 32px;
  }
}
.advantages-section__number {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1300px) {
  .advantages-section__number {
    font-size: 20px;
  }
}
.advantages-section__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 1300px) {
  .advantages-section__description {
    font-size: 20px;
    line-height: 1.2;
  }
}

.teacher-section {
  margin: 0 auto;
}
.teacher-section__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
.teacher-section__img {
  display: block;
  padding-bottom: 20px;
}
.teacher-section__pic {
  display: block;
}
.teacher-section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
}
.teacher-section__subtitle::after {
  content: "";
  display: block;
  border: 1px solid #b9b9b9;
  margin-top: 15px;
  margin-bottom: 20px;
}
.teacher-section__list::after {
  content: "";
  display: block;
  width: 20px;
  border: 1px solid #ff6b09;
  margin-bottom: 20px;
}
.teacher-section__item {
  display: inline-flex;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: #111518;
}
.teacher-section__item::before {
  display: inline-block;
  content: url(/check.957671c0.png);
  width: 17px;
  height: 14px;
  margin-right: 10px;
}
.teacher-section__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #b9b9b9;
  padding-bottom: 10px;
}
.teacher-section__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .teacher-section {
    margin: 0 auto;
  }
  .teacher-section .container {
    padding-top: 270px;
    padding-bottom: 50px;
  }
  .teacher-section__title {
    padding-bottom: 20px;
  }
  .teacher-section__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .teacher-section__check {
    display: inline-flex;
    width: 17px;
    height: 14px;
    fill: #ff6b09;
  }
  .teacher-section .picture {
    display: block;
    width: 243px;
    height: 306px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .teacher-section {
    margin: 0 auto;
  }
  .teacher-section .container {
    padding-top: 302px;
    padding-bottom: 50px;
  }
  .teacher-section__title {
    font-size: 26px;
    line-height: 1.3;
    padding-bottom: 30px;
  }
  .teacher-section__wrapper {
    display: flex;
  }
  .teacher-section__img {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .teacher-section {
    margin: 0 auto;
  }
  .teacher-section .container {
    width: 1300px;
    padding-top: 329px;
    padding-bottom: 130px;
  }
  .teacher-section__title {
    font-size: 46px;
    line-height: 1.233;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .teacher-section__subtitle {
    font-size: 30px;
    line-height: 1.233;
  }
  .teacher-section__wrapper {
    display: flex;
  }
  .teacher-section__item {
    font-size: 16px;
    line-height: 1.233;
    margin-bottom: 30px;
  }
  .teacher-section__description {
    font-size: 18px;
    line-height: 1.556;
    padding-bottom: 25px;
  }
  .teacher-section_link {
    margin-top: 30px;
  }
  .teacher-section__about {
    width: 642px;
  }
  .teacher-section__img {
    margin-right: 40px;
  }
  .teacher-section__pic {
    display: block;
    width: 530px;
    height: 667px;
  }
}
.guarantees {
  background: linear-gradient(180deg, white 14%, #f1f1f1 1%);
}
.guarantees__list {
  padding-top: 30px;
  padding-bottom: 30px;
}
.guarantees__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
.guarantees__line {
  position: absolute;
  z-index: 999;
  top: 45px;
  left: -25px;
  height: 284px;
  border: 1px dashed #b9b9b9;
}
.guarantees__item {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
.guarantees__item:not(:last-child) {
  margin-bottom: 23px;
}
.guarantees__item::before {
  content: "";
  margin-right: 20px;
  display: block;
  background-image: url(/campfire.9d5432b0.svg);
  width: 40px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.guarantees__text--special {
  color: #ff6b09;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .guarantees {
    background: linear-gradient(180deg, white 17%, #f1f1f1 1%);
  }
}
@media screen and (min-width: 768px) {
  .guarantees {
    background: #fff;
  }
  .guarantees__list {
    background: #f1f1f1;
    padding-left: 80px;
    padding-right: 50px;
  }
  .guarantees__item::before {
    margin-right: 25px;
    width: 20px;
    background-position: bottom;
  }
}
@media screen and (min-width: 1300px) {
  .guarantees__title {
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.3;
  }
  .guarantees__list {
    padding-left: 112px;
    padding-right: 112px;
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .guarantees__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
  }
  .guarantees__item::before {
    width: 40px;
    height: 30px;
  }
}
.reviews-section .container {
  padding-top: 250px;
  padding-bottom: 50px;
}
.reviews-section__title {
  color: #111518;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
.reviews-section picture {
  display: block;
}

.big-slider {
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  margin-top: 20px;
}
.big-slider__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.big-slider__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.big-slider__social-icon {
  fill: #436eab;
}
.big-slider__name {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.big-slider__edition {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.big-slider__review {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #3d3d3d;
}
.big-slider__learn-more {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #ff6b09;
  cursor: pointer;
}

.small-slider {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 191px;
}
.small-slider__img {
  width: 54px;
  height: 54px;
}

.small-slider {
  min-width: 0;
}
.small-slider__wrapper {
  position: relative;
}
.small-slider__item {
  border: none;
}
.small-slider .slick-track {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
}
.small-slider .slick-list {
  overflow: hidden;
}
.small-slider .slick-slide:not(:last-child) {
  margin-right: 10px;
}
.small-slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  background-color: transparent;
  border-style: none;
}
.small-slider .slick-arrow.slick-prev {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  background-image: url(/Arrow-left.a137d132.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 15px;
  fill: #ff6b09;
}
.small-slider .slick-arrow.slick-next {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  background-image: url(/Arrow-right.ec55d17e.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 15px;
  fill: #ff6b09;
}
.small-slider .slick-slide.slick-current .small-slider__img {
  border: 2px solid #ff6b09;
  border-radius: 50%;
}

.big-slider__item {
  text-align: center;
}
.big-slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-slider .slick-list {
  overflow: hidden;
}
.big-slider__img {
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .reviews-section .container {
    max-width: 320px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .reviews-section .container {
    padding-top: 50px;
    max-width: 480px;
  }
  .reviews-section .big-slider {
    margin-top: 30px;
  }
  .reviews-section .big-slider__img {
    width: 120px;
    height: 120px;
  }
  .reviews-section .big-slider__social-icon {
    width: 30px;
    height: 30px;
  }
  .reviews-section .small-slider {
    width: 319px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .reviews-section .container {
    width: 768px;
    padding-top: 50px;
  }
  .reviews-section .big-slider {
    margin-top: 30px;
  }
  .reviews-section .big-slider__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }
  .reviews-section .big-slider__review-info {
    width: 412px;
  }
  .reviews-section .big-slider__name, .reviews-section .big-slider__edition, .reviews-section .big-slider__review {
    text-align: left;
  }
  .reviews-section .big-slider__name {
    font-size: 20px;
    margin-top: 0;
  }
  .reviews-section .big-slider__social-icon {
    width: 30px;
    height: 30px;
  }
  .reviews-section .big-slider__img {
    width: 150px;
    height: 150px;
  }

  .small-slider {
    width: 588px;
    margin-top: 30px;
  }
  .small-slider .slick-slide:not(:last-child) {
    margin-right: 30px;
  }
  .small-slider .slick-arrow.slick-prev {
    left: -15px;
    top: -156px;
  }
  .small-slider .slick-arrow.slick-next {
    right: -15px;
    top: -156px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews-section .container {
    width: 1300px;
    padding-bottom: 123px;
    padding-top: 130px;
  }
  .reviews-section__title {
    font-size: 46px;
    line-height: 1.3;
  }
  .reviews-section .big-slider {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .reviews-section .big-slider__item {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 37px;
    padding-right: 37px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .reviews-section .big-slider__name, .reviews-section .big-slider__edition, .reviews-section .big-slider__review {
    text-align: left;
  }
  .reviews-section .big-slider__learn-more {
    font-size: 18px;
    line-height: 1.6;
  }
  .reviews-section .big-slider__edition {
    width: 434px;
    font-size: 14px;
    line-height: 1.2;
  }
  .reviews-section .big-slider__review {
    width: 706px;
    font-size: 18px;
    line-height: 1.6;
  }
  .reviews-section .big-slider__name {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 0;
  }
  .reviews-section .big-slider__review-info {
    width: 706px;
  }
  .reviews-section .big-slider__img {
    width: 150px;
    height: 150px;
  }
  .reviews-section .big-slider__social-icon {
    width: 30px;
    height: 30px;
  }
  .reviews-section .small-slider {
    width: 570px;
    margin-top: 40px;
  }
  .reviews-section .small-slider .slick-slide:not(:last-child) {
    margin-right: 30px;
  }
  .reviews-section .small-slider .slick-arrow.slick-prev {
    left: 25px;
    top: -225px;
  }
  .reviews-section .small-slider .slick-arrow.slick-next {
    right: 25px;
    top: -225px;
  }
}
.footer-section__btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6b09;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer-section__btn:focus {
  background-color: rgba(255, 107, 9, 0.8);
}

@media screen and (max-width: 319px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-height: 48px;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1299px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-width: 260px;
    height: 48px;
  }
}
@media screen and (min-width: 1300px) {
  .footer-section__btn {
    font-size: 14px;
    line-height: 1.21;
    min-width: 354px;
    height: 70px;
  }
}
.footer-section {
  display: block;
  width: 100%;
}
.footer-section__title {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-section__free {
  color: #ff6b09;
}
.footer-section__consultation {
  color: #ff6b09;
}
.footer-section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0 auto;
  color: #ffffff;
}
.footer-section__free-lessons {
  color: #ff6b09;
}
.footer-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-section__input {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  outline: none;
}
.footer-section__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 320px) {
  .footer-section__page-form {
    text-align: center;
    background-image: linear-gradient(rgba(17, 21, 24, 0.7), rgba(17, 21, 24, 0.7)), url(/registration-mobile.8c276e36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-section__title {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .footer-section__subtitle {
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 30px;
  }

  .footer-section__input {
    min-height: 48px;
    padding-left: 28px;
  }
  .footer-section__input:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-section__input:nth-child(2) {
    margin-bottom: 50px;
  }
  .footer-section__input::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .footer-section__page-form {
    text-align: center;
    background-image: linear-gradient(rgba(17, 21, 24, 0.7), rgba(17, 21, 24, 0.7)), url(/registration-mobile.8c276e36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-section__title {
    font-size: 14px;
    line-height: 1.4;
    width: 280px;
    margin-bottom: 30px;
  }

  .footer-section__subtitle {
    font-size: 12px;
    line-height: 1.25;
    width: 280px;
    margin-bottom: 30px;
  }

  .footer-section__input {
    width: 280px;
    height: 48px;
    padding-left: 28px;
  }
  .footer-section__input:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-section__input:nth-child(2) {
    margin-bottom: 50px;
  }
  .footer-section__input::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-section__page-form {
    text-align: center;
    background-image: linear-gradient(rgba(17, 21, 24, 0.7), rgba(17, 21, 24, 0.7)), url(/registration-tablet.cfd5c781.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-section__title {
    font-size: 14px;
    line-height: 1.4;
    width: 440px;
    margin-bottom: 30px;
  }

  .footer-section__subtitle {
    font-size: 12px;
    line-height: 1.25;
    width: 440px;
    margin-bottom: 30px;
  }

  .footer-section__input {
    width: 440px;
    height: 48px;
    padding-left: 28px;
  }
  .footer-section__input:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-section__input:nth-child(2) {
    margin-bottom: 50px;
  }
  .footer-section__input::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .footer-section__page-form {
    text-align: center;
    background-image: linear-gradient(rgba(17, 21, 24, 0.7), rgba(17, 21, 24, 0.7)), url(/registration-tablet.cfd5c781.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .footer-section__title {
    font-size: 26px;
    line-height: 1.3;
    width: 688px;
    margin-bottom: 30px;
  }

  .footer-section__subtitle {
    font-size: 14px;
    line-height: 1.21;
    width: 452px;
    margin-bottom: 40px;
  }

  .footer-section__input {
    width: 390px;
    height: 48px;
    padding-left: 28px;
    margin-right: 189px;
    margin-left: 189px;
  }
  .footer-section__input:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-section__input:nth-child(2) {
    margin-bottom: 30px;
  }
  .footer-section__input::placeholder {
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1300px) {
  .footer-section__page-form {
    text-align: center;
    background-image: linear-gradient(rgba(17, 21, 24, 0.7), rgba(17, 21, 24, 0.7)), url(/registration-desktop.8e099efc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 62px;
  }

  .footer-section__title {
    font-size: 46px;
    line-height: 1.3;
    width: 1090px;
    margin-bottom: 50px;
  }

  .footer-section__subtitle {
    font-size: 30px;
    line-height: 1.23;
    width: 1090px;
    margin-bottom: 56px;
  }

  .footer-section__input {
    width: 478px;
    height: 70px;
    padding-left: 40px;
  }
  .footer-section__input:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer-section__input:nth-child(2) {
    margin-bottom: 80px;
  }
  .footer-section__input::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
}
.footer-section__footer {
  display: block;
  margin: 0 auto;
}

.footer-section__contact-list {
  list-style: none;
}

.footer-section__tel {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: #111518;
}

.footer-section__inst-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  fill: transparent;
  border-radius: 10px;
}

.footer-section__copy {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.footer-section__copy-wrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #b9b9b9;
  width: 100%;
  background-color: #111518;
}

@media screen and (max-width: 320px) {
  .footer-section__footer {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .footer-section__footer {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 0px;
  }

  .footer-section__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.21;
  }

  .footer-section__logo-icon {
    width: 85px;
    height: 30px;
    margin-bottom: 20px;
  }

  .footer-section__tel-icon {
    width: 20px;
    height: 20px;
    fill: #ff6b09;
    margin-right: 10px;
  }

  .footer-section__contact-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-section__copy {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-section__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-section__contact-list {
    display: flex;
    align-items: center;
  }

  .footer-section__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.21;
  }

  .footer-section__tel::after {
    content: "";
    border: 1px solid #b9b9b9;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-section__logo-icon {
    width: 85px;
    height: 30px;
  }

  .footer-section__tel-icon {
    width: 20px;
    height: 20px;
    fill: #ff6b09;
    margin-right: 10px;
  }

  .footer-section__copy-wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .footer-section__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer-section__contact-list {
    display: flex;
    align-items: center;
  }

  .footer-section__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
  }

  .footer-section__tel::after {
    content: "";
    border: 1px solid #b9b9b9;
    height: 40px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .footer-section__logo-icon {
    width: 130px;
    height: 45px;
  }

  .footer-section__tel-icon {
    width: 24px;
    height: 23px;
    fill: #ff6b09;
    margin-right: 10px;
  }

  .footer-section__copy {
    padding-left: 40px;
    width: 768px;
  }
}
@media screen and (min-width: 1300px) {
  .footer-section__footer {
    display: flex;
    justify-content: start;
    padding-top: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer-section__logo-link {
    margin-right: 235px;
  }

  .footer-section__contact-list {
    display: flex;
    align-items: center;
  }

  .footer-section__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.23;
  }

  .footer-section__tel::after {
    content: "";
    border: 1px solid #b9b9b9;
    height: 40px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .footer-section__logo-icon {
    width: 130px;
    height: 45px;
  }

  .footer-section__tel-icon {
    width: 30px;
    height: 29px;
    fill: #ff6b09;
    margin-right: 15px;
  }
}
/*=============SCROLLUP=============*/
.scrollup {
  position: fixed;
  display: flex;
  padding: 4px 10px;
  font-size: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .scrollup {
    right: 20px;
    bottom: 0px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 107, 9, 0.7);
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .scrollup {
    right: 5px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    fill: rgba(255, 107, 9, 0.7);
  }

  .scrollup-icon:hover,
.scrollup-icon:focus {
    fill: #ff6b09;
  }
}
@media screen and (min-width: 1300px) {
  .scrollup {
    right: 20px;
    bottom: 100px;
    background-color: transparent;
    width: 80px;
    height: 80px;
    fill: rgba(255, 107, 9, 0.7);
  }

  .scrollup-icon:hover,
.scrollup-icon:focus {
    fill: #ff6b09;
  }
}
.modal-window_entry {
  position: relative;
  z-index: 9999;
  width: 90%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%) scale(1);
}

.close-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-entry:focus, .close-entry:hover {
  fill: #ff6b09;
}

.footer-section__btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff6b09;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer-section__btn:focus {
  background-color: rgba(255, 107, 9, 0.8);
}

@media screen and (max-width: 319px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-height: 48px;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1299px) {
  .footer-section__btn {
    font-size: 12px;
    line-height: 1.25;
    min-width: 260px;
    height: 48px;
  }
}
@media screen and (min-width: 1300px) {
  .footer-section__btn {
    font-size: 14px;
    line-height: 1.21;
    min-width: 354px;
    height: 70px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */